<!DOCTYPE HTML>
<html>
	<head>
		<title>Sakshi Sarna</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<nav>
								<ul class="actions fit small">
									<li><a href="{% url 'home' %}" class="button primary fit small">Home</a></li>
									<li><a href="{% url 'gallery' %}" class="button fit small">Gallery</a></li>
									<li><a href="{% url 'about' %}" class="button fit small">About Me</a></li>
									<li><a href="{% url 'contact' %}" class="button fit small">Contact</a></li>
								</ul>
							</nav>
							<h1>Sakshi Sarna</h1>
							<p class="major"> Software Engineer / Photographer</p>
							<div class="inner">
								<ul class="icons">
									<li><a href="https://www.instagram.com/sakshi.sarna/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/in/sakshi-sarna-7637a5188/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									<li><a href="mailto:sakshisarna07@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</div>
						</div>
						<div class="image">
							<img src="media\Purple Leaves.jpeg" alt="" />
						</div>
					</section>

			</div>
			<footer class="wrapper style1 align-center">
				<p class="major"></p>
				<p class="major">Made by a <b>Hooman</b> in India.</p>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>